<%= simple_form_for @guitar do |f| %>
  <div class="row">
    <div class="col-md">
      <div class="form__title form__title__infos" data-name="form__infos">
        <%= image_tag("icon-guitar-misc.png") %>
        <h4>Infos</h4>
        <i class="fa-solid fa-angle-down" id="form__infos__icon"></i>
      </div>
      <div class="form__infos form__container form__hidden">
        <div class="form__content">
        <%= f.input :brand, collection: BRANDS.sort %>
        <%= f.input :name %>
        <%= f.input :year, collection: 1940..Time.now.year %>
        <%= f.input :serial_number %>
        <%= f.input :made_in, collection: COUNTRIES.sort, label:'Country' %>
        <%= f.input :artist %>
        <%= f.input :purchase_date, collection: 1950..Time.now.year %>
        <%= f.input :price %>
        </div>
      </div>
      <div class="form__title form__title__body" data-name="form__body">
        <%= image_tag("icon-guitar-body.png")%>
        <h4>Body</h4>
        <i class="fa-solid fa-angle-down" id="form__body__icon"></i>
      </div>
      <div class="form__body form__container form__hidden">
        <%= f.input :color %>
        <%= f.input :body_wood, collection: ['Alder','Basswood', 'Black Limba', 'Koa','Maple', 'Mohagany','Okoume', 'Swamp Ash', 'Walnut'] %>
        <%= f.input :body_top_wood, collection: ['Alder','Basswood', 'Black Limba', 'Koa','Flamed Maple' ,'Quilted Maple', 'Mohagany', 'Poplar Burl','Okoume', 'Swamp Ash', 'Walnut', 'Zebra Wood'] %>
        <%= f.input :body_finish %>
      </div>
      <div class="form__title form__title__pickups" data-name="form__pickups">
        <%= image_tag("icon-guitar-electronics.png") %>
        <h4>Pickups</h4>
        <i class="fa-solid fa-angle-down" id="form__pickups__icon"></i>
      </div>
      <div class="form__pickups form__container form__hidden">
        <%= f.input :pickups_configuration, hint:'HSH, SSS,...' %>
        <%= f.input :neck_pickup_id, label: 'Neck Pickup', collection: @pickups %>
        <%= f.input :center_pickup_id, label: 'Center Pickup', collection: @pickups %>
        <%= f.input :bridge_pickup_id, label: 'Bridge Pickup', collection: @pickups %>
      </div>
    </div>
    <div class="col-md">
      <div class="form__title form__title__neck" data-name="form__neck">
        <%= image_tag("icon-guitar-neck.png") %>
        <h4>Neck</h4>
        <i class="fa-solid fa-angle-down" id="form__neck__icon"></i>
      </div>
      <div class="form__neck form__container form__hidden">
        <%= f.input :neck_wood, collection: ['Alder','Basswood', 'Black Limba', 'Koa','Maple', 'Mohagany','Okoume', 'Swamp Ash', 'Walnut']  %>
        <%= f.input :fingerboard_wood, collection: ['Maple','Ebony', 'Rosewood', 'Richlite', 'Birdseye Maple', 'Roasted Maple', 'Flamed Maple'] %>
        <%= f.input :scale_length, hint:'in cm' %>
        <%= f.input :neck_shape %>
        <%= f.input :neck_finish %>
        <%= f.input :neck_attachment %>
        <%= f.input :neck_radius %>
        <%= f.input :neck_width_nut %>
        <%= f.input :neck_width_last_fret %>
        <%= f.input :frets_number, collection: 21..27 %>
        <%= f.input :frets_type %>
      </div>
      <div class="form__title form__title__hardware" data-name="form__hardware">
        <%= image_tag("icon-guitar-hardware.png") %>
        <h4>Hardware</h4>
        <i class="fa-solid fa-angle-down" id="form__hardware__icon"></i>
      </div>
      <div class="form__hardware form__container form__hidden">
        <%= f.input :bridge %>
        <%= f.input :nut_material %>
        <%= f.input :tuning_machines %>
      </div>
      <%= f.input :photo, as: :file %>
    </div>
  </div>
  <div class="form__submit__button">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
