  <div class="table_container">
    <table>
      <thead>
        <tr>
        <th scope="col"> </th>
        <% @guitars.each do |guitar| %>
          <th scope="col"><%= guitar.name %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @guitars_categories.each do |guitar_category| %>
          <% cat = guitar_category[0].to_sym %>
          <tr>
            <% @guitars.each do |guitar| %>
              <% if guitar_category[0] == 'neck_pickup_id' %>
                <th scope="row">Neck Pickup</th>

                <% if guitar.send(cat) %>
                  <% pickup = Pickup.find(guitar.send(guitar_category[0])) %>
                  <td scope="col"><%= pickup.brand %> <%= pickup.name %></td>
                <% else %>
                  <td scope="col"></td>
                <% end %>

                <% elsif guitar_category[0] == 'center_pickup_id' %>
                  <th scope="row">Center Pickup</th>
                    <% if guitar.send(cat) %>
                      <% pickup = Pickup.find(guitar.send(guitar_category[0])) %>
                      <td scope="col"><%= pickup.brand %> <%= pickup.name %></td>
                    <% else %>
                      <td scope="col"></td>
                    <% end %>

                <% elsif guitar_category[0] == 'bridge_pickup_id' %>
                  <th scope="row">Bridge Pickup</th>
                    <% if guitar.send(cat) %>
                      <% pickup = Pickup.find(guitar.send(guitar_category[0])) %>
                      <td scope="col"><%= pickup.brand %> <%= pickup.name %></td>
                    <% else %>
                      <td scope="col"></td>
                    <% end %>
                <% else %>

                <th scope="row"><%= guitar_category[1] %></th>
                <% if (guitar_category[0] == 'scale_length' || guitar_category[0] == 'neck_radius' || guitar_category[0] == 'neck_width_nut' || guitar_category[0] == 'neck_width_last_fret') && guitar.send(cat) %>
                  <td scope="col"><%= guitar.send(cat) %>mm</td>
                <% elsif guitar_category[0] == 'price' && guitar.send(cat) %>
                  <td scope="col"><%= guitar.send(cat) %>$</td>
                  <td scope="col"><%= guitar.send(cat) %>$</td>
                <% else %>
                  <td scope="col"><%= guitar.send(cat) %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
