<div id='guitar_list'></div>
<% content_for :after_js do %>
  <%= javascript_pack_tag "guitar_list" %>
<% end %>
<%= link_to 'New Guitar', new_guitar_path %>
<%= link_to 'New Pickup', new_pickup_path %>
<%= link_to "Guitars API", api_v1_guitars_path %>
<%= link_to "Pickups API", api_v1_pickups_path %>
